
.game-card {
    width: 250px;
    height: 364px;
    background-color: var(--bg-card-secondary);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.game-img {
    width: 248px;
    border-radius: 10px;
    cursor: pointer; 
}

.game-card-info{
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
}

.game-card-info h1 {
    font-size: 18px;
    font-weight: 600;
}

.game-footer-info-container {
    display: flex;
    justify-content: space-between;
}

.game-status-container {
    display: flex;
    gap: 5px
}

.game-status {
    width: 20px;
}

.game-status-container p {
    font-size: 15px;
    font-weight: 500;
}

.playing {
    color: var(--success);
}

.played {
    color: var(--info);
}

.not-played {
    color: var(--warning);
}

.completed {
    color: var(--primary-light);
}

.playtime-container {
    display: flex;
    gap: 5px
}
