.main-container {
    display: flex;
    align-items: left;
}

.all-games-main-content {
    width: 100%;
    margin: 0;
    padding: 20px 30px 50px 40px;
}


.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.page-header .title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
}

.page-header .div-center {
    width: 350px;
    display: flex;
    justify-content: center;
}

.page-header .sync-steam-btn-container {
    width: fit-content;
}

.game-filter-container {
    display: flex;
    padding-left: 20px;
}

.list-game-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: fit-content;
}

.filters-container {
    width: 460px;
    height: fit-content;
    padding: 15px 20px;
    background-color: var(--bg-card);
    border: var(--border-primary);
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.filter-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.filters-container h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.filters-container p {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-light);
    cursor: pointer;
}

.filter-form label {
    font-weight: 500;
}

.filter-form select {
    width: 100%;
    background-color: var(--bg-secondary);
    border: var(--border-primary);
    border-radius: 5px;
    outline: none;
    padding: 8px 10px;
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 17px;
}

.filter-form hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

.filter-form button {
    width: 100%;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    margin-top: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
}