.collections-main-content {
    width: 100%;
    margin: 0;
    padding: 20px 30px 50px 40px;
}

.create-collection-btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px 30px;
    margin-right: 60px;
    cursor: pointer;
}

.create-collection-btn {
    background-color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.collection-folders-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}